# Data Science Tools and Ecosystem

## Author
Sanket Mehrotra

## Introduction
This is the introduction to the jupyter notebook. In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List some popular languages used for data science
* List commonly used libraries for data science
* Explore Markdown table formatting
* Experiment with executing arithmatic operations using python syntax
* Try simple conversions with python syntax

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. seaborn
4. numpy
5. scipy
6. sklearn

| Data Science Tools | 
| ----------- | 
| RStudio     |
| Anaconda    | 
| Jupyter Notebooks|
| Tableau Desktop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
mins = 200
print(f'Minutes: {mins}')
hours = mins / 60
print(f'Hours: {hours}')

Minutes: 200
Hours: 3.3333333333333335